<div class="tile is-parent is-6">
    <article class="tile is-child box has-background-grey-lighter" data-id="{{_id}}">
        <h3 class="headline has-text-grey-darker is-size-4 has-text-justified has-text-weight-semibold">
            {{headline}}
        </h3>
        <p class="summary has-text-justified">{{summary}}</p>
        <div class="button-row level">
            <a class="link button is-link is-outlined level-left" target="_blank" href="{{link}}">link to full story</a>
            <button data-id="{{_id}}" data-target="allCommentsModal" aria-haspopup="true" class="read-btn button is-danger is-outlined level-right">read comments</button>
            <button data-id="{{_id}}" data-target="newCommentModal" aria-haspopup="true" class="write-btn button is-primary is-outlined level-right">leave a comment</button>
        </div>
    </article>
</div>